  <meta charset="UTF-8">
  <title>{{title}}</title>

  <meta name="description" content="{{meta-description}}"/>
  <meta property="og:title" content="{{og-title}}"/>
  <meta property="og:description" content="{{og-description}}"/>
  <meta property="og:image" content="{{site.root}}/assets/images/NETGEARR7800_socialshare.jpg"/>
  <meta property="og:url" content="{{site.root}}{{meta-url}}"/>
  <meta property="og:type" content="website"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="theme-color" content="#ffffff">

  <link rel="canonical" href="{{site.root}}{{meta-url}}" />

  <link rel="stylesheet" href="./assets/css/main.min.css">
    
