<div class="wrapper-quiz js-wrapper-quiz">
  {{> parallax-images}}
  <div class="quiz-image">
    {{#if quiz_image }}
      <figure class="quiz__figure">
          <img data-src="{{ quiz_image }}" class="quiz__image">
      </figure>
    {{/if}}
  </div>
  <div class="quiz-list js-quiz-list">
    {{#each quiz}}
      <div class="quiz {{#if @first}}quiz--activate{{/if}} js-quiz" id="quiz-{{ add @index 1 }}"
        data-correct-answer="{{ correct_answer }}">
          <div class="container quiz__container">
              <div class="quiz__wrapper">
                <div class="quiz__header">
                    <p class="label quiz__tag">Question {{add @index 1 }}</p>
                </div>
                <div class="quiz__content">
                    <div class="main-heading quiz__question-content">{{ question }}</div>
                    <ul class="quiz__list-answer">
                        {{#each answers}}
                            <li class="quiz__item">
                              <input class="quiz__item-input" type="radio" name="{{ ../name }}" value="{{ this }}" data-answer="{{ add @index 1 }}" />
                              <div class="quiz__item-background">
                                <label class="quiz-answer quiz__item-answer">{{ this }}</label>
                              </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="quiz__footer">
                    <div class="quiz__note">
                        <h4 class="sub-heading quiz__response quiz__response--hidden"></h4>
                        {{#if fun_fact}}
                            <div class="p quiz__fact quiz__fact--hidden">{{ ../../quiz_fun_fact }} {{ fun_fact }}</div>
                        {{/if}}
                    </div>
                    <div class="quiz__cta">
                        <a class="button quiz__button button--hide js-submit">
                            <span class="label quiz__button-text">{{ @root.site.quiz_submit_question_text }}</span>
                        </a>
                        {{#if @last}}
                            <a class="button quiz__button quiz__button--result button--hide js-result">
                                <span class="label quiz__button-text">{{ @root.site.quiz_view_result_text }}</span>
                            </a>
                        {{else}}
                            <a class="button quiz__button quiz__button--next button--hide js-next">
                              <span class="label quiz__button-text">{{ @root.site.quiz_next_question_text }}</span>
                            </a>
                        {{/if}}
                    </div>
                </div>
              </div>
          </div>
      </div>
    {{/each}}
  </div>
</div>
